<ion-header [translucent]="true">
  <ion-toolbar color="dark"  class="ion-text-center">
    <ion-title >
      <ion-icon class="iconeFone" name="headset-outline"></ion-icon>
      <ion-text class="logoText">KmPlayer</ion-text>
      <ion-icon class="iconeFone" name="headset-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="danger" [fullscreen]="true">

  <ion-row>
    <ion-col>
      <br/>
    <ion-card color="medium">
      <br/>
      <ion-card-title class="ion-text-center">Sobre o Projeto KmPlayer</ion-card-title>
      <br/>
    </ion-card>
  </ion-col>
  </ion-row>

  <ion-row>
    <ion-col  class="alturaDiv"  size="12">
      <ion-card class="altura" color="medium">
       <ion-card-header>
         <ion-card-title class="ion-text-center">Como Funciona?</ion-card-title>
       </ion-card-header>
         <ion-card-content class="ion-text-center">
       <p>-> Uma Escolha de Música e o Player abre é Simples Porém funcional, a Idéia é um dia ainda transformar esse protótipo em um player real de músicas para Android , Ios  e Pc </p>
       <br/>
       <p>Selecione a guia musicas no inferior do App</p>
         </ion-card-content>
      </ion-card>
     </ion-col>
    
    
    </ion-row>

  <ion-row>
  <ion-col class="alturaDiv"   size="12">
 <ion-card class="altura" color="medium">
  <ion-card-header>
    <ion-card-title class="ion-text-center">Para Que?</ion-card-title>
  </ion-card-header>
    <ion-card-content class="ion-text-center">
  <p>-> Para a matéria de PAW, 3 Ano C, na Etec Maria Cristina Medeiros guiado pelo Professor Bruno, com o objetivo de treinar o trabalho em equipe utilizando plataformas.</p>
  <br/>
 <img class="bob" src="https://media.tenor.com/images/2ec83aeeb2e9244a2131dab14fdb910e/tenor.gif" alt="Estudando JavaScript DOM e IONIC">
    </ion-card-content>
 </ion-card>
</ion-col>
  </ion-row>
 

<ion-row>

  <ion-col class="alturaDiv"  size="12">
    <ion-card class="altura" color="medium">
     <ion-card-header>
       <ion-card-title class="ion-text-center">Onde Estudar?</ion-card-title>
     </ion-card-header>
       <ion-card-content class="ion-text-center">
     <br/>
     <ion-button target="_blank"  color="dark" href="https://ionicframework.com/getting-started" expand="block">Ionic Framework</ion-button>
     <br/> 
     <ion-button target="_blank" color="dark" href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript" expand="block">JavaScript</ion-button>
     <br/>
     <ion-button target="_blank" color="dark" href="https://developer.mozilla.org/pt-BR/docs/DOM/Referencia_do_DOM" expand="block">DOM</ion-button>
       </ion-card-content>
    </ion-card>
   </ion-col>
</ion-row>

</ion-content>
